.child-form {
  margin: 33px 0 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.child-form p {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.child-form__add-button {
  padding: 8px 20px;
  background-color: #fff;
  color: #01a7fd;
  border-radius: 100px;
  border: 2px solid #01a7fd;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  gap: 4px;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
}

.hidden {
  opacity: 0;
}

.child-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}

.child-item__delete-button {
  background: transparent;
  border: none;
  margin-bottom: 10px;
  color: #01a7fd;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.list-enter-active {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.list-enter-from {
  opacity: 0;
  -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
          transform: translateX(30px);
}