.main-header {
  display: flex;
  align-items: center;
  padding: 24px 92px;
  box-shadow: 0 1px 0 0 rgba(17, 17, 17, 0.10);
}

.menu-list {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  color: rgba(17, 17, 17, 0.48);
  margin-right: 93px;
}

.menu-list__item + .menu-list__item {
  margin-left: 24px;
}

.menu-list__item a{
  font-size: 14px;
}

.main-footer {
  padding: 30px 0;
  background: #FAFAFA;
  width: 100%;
}

.main-footer p{
  margin: 0;
  padding: 0;
  text-align: center;
}
